/*--- Base Styles ---------------*/

/*font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;*/
/*--- Header ---------------*/


p {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

#header-bkgd {}

#Logo {
    width: 200px;
}


.contact-me {
    padding-top: 100px;
    padding-left: 375px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

#designer-id {
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    

}

.top-header {
    padding-bottom: 25px;
    padding-top: 60px;
    margin-left: 125px;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

.top-header-page-2{
    text-align: center;
        padding-bottom: 25px;
    padding-top: 60px;
    padding-left: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.my-description {
    text-align: center;
    color: white;
    margin-left: 220px;
    margin-right: 200px;
}

#description-block {
    margin-top: 20px;

    background-color: #0D94FF;
    opacity: 0.85;
    padding-bottom: 100px;

}

#description-block-2 {
    

    background-color: #0D94FF;
    opacity: 0.85;
    padding-bottom: 30px;

}

#left-column {
    padding-top: 50px;
    padding-bottom: 20px;
    /*padding-left: 530px;*/
    margin-left: 470px;

}

.left-column-header-1 {
    margin-left: 65px;
    margin-top: -25px;
    font-family: 'Montserrat', sans-serif;
}

.left-column-header-2 {
    margin-left: 27px;
    font-family: 'Montserrat', sans-serif;
}

.left-column-body-text {
    margin-left: -0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.left-column-body-text-2 {
    margin-left: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#right-column {}

.right-column-body-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.right-column-header-text-1 {
    margin-top: -25px;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.right-column-header-2 {
    text-align: center;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
}

.right-column-body-text-2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.right-column-header-3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.right-column-body-text-3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.left-column-header-3 {
    margin-left: 87px;
    font-family: 'Montserrat', sans-serif;

}

.left-column-body-text-3 {
    text-align: center;
    margin-left: -5px;
    font-family: 'Roboto', sans-serif;
}

#right-column {
    margin-left: 100px;
    padding-top: 50px;
}

#both-columns {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.col-md-2 {
    border-style: solid;
    border-radius: 20px;



}

#contact-me-header{
    text-align: center;
    padding-left: 32px;
    padding-top: 50px;
}

.contact-me-text{
    text-align: center;
    
}

.project-1 {
    width: 300px;
    height: 250px;
    margin-left: 60px;
    border-radius: 10%;
    transition: .5s ease;
    opacity: 1.0;
    border-style: solid;
    border-color: black;
}


.project-1:hover {
    opacity: 0.5;
    transition: .5s ease;
    border-style: solid;
}



#project-row-1 {
    padding-left: 250px;
    padding-top: 25px;
    padding-bottom: 100px;
    
}



h2 {
    padding-left: 350px;
}

.second-header {
    padding-top: 50px;
    padding-left: 500px;
}

h2 > a {
    position: relative;
    color: #000000;
    text-decoration: none;
}

h2 > a:hover {
    color: #000000;
    text-decoration: none;
}

h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

h2 > a:active {
    text-decoration: none;
}



#web-description-text-1{
    text-align: center;
    padding-left: 75px;
    padding-top: 20px;
}

#web-description-text-2{
    text-align: center;
        padding-left: 50px;
    padding-top: 20px;
}

#web-description-text-3{
    text-align: center;
    padding-left: 20px;
    padding-top: 20px;
}
/*<-----Page-02-Start------->*/






.designer-text-column-1{
    text-align: center;
    padding-top: 120px;
}

#designer-row-1{
    padding-top: 50px;
}

.designer-text-column-2{
    text-align: center;
    padding-top: 120px;
}

#designer-row-2{
    
}

#designer-bottom-row{
    padding-bottom: 20px;
}
.designer-text-column-3{
    text-align: center;
    padding-top: 120px;
}

.designer-text-column-4{
text-align: center;
    padding-top: 220px;
    font-family: 'Roboto', sans-serif;
}

.web-text-column-1{
    text-align: center;
    padding-top: 150px;
}

.web-text-column-1-1{
    text-align: center;
    padding-top: 125px;
    padding-left: 20px;
}

.web-text-column-1-2{
    text-align: center;
    padding-top: 125px;
    padding-left: 20px;
}
.web-text-column-2{
    text-align: center;
    padding-top: 120px;
    
    color: white;
}
#web-background{
    padding-top: 20px;
}

#web-row-1{
    padding-bottom: 20px;
    
}

#web-row-0{
    padding-top: 20px;
    padding-bottom: 20px;
}

.Neewollah{
    width: 80%;
    padding-bottom: 50px;
    padding-top: 30px;
    padding-left: 105px;
    text-align: center;
/*    padding-left: 340px;*/
}

/*animation*/

.web-text-column-1, .web-column-picture-1 {
    position: relative;
    animation: transitionIn 1.25s;
}
@keyframes transitionIn {
    from { opacity: 0;
        left: 200px         
        
        
        
        
    }
    to{
        opacity: 1;
        left: 0px;
        
        
        
    }
}


.web-text-column-2, .web-column-picture-2 {
    position: relative;
    animation: transitionIn2 1.25s;
}
@keyframes transitionIn2 {
    from { opacity: 0;
        right: 200px;
        
        
        
    }
    to{
        opacity: 1;
        right: 0px;
        
    }
}
/*<-----Page-02-End------->*/



.button {
    background-color: #0D94FF;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: #0D94FF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 450px;
    margin-top: 50px;
    opacity: 0.85;
    margin-bottom: 50px;
}

#footer-selector {
    background-color: #0D94FF;
    opacity: 0.85;

}

#footer-credits-right {
    text-align: center;
    padding-top: 30px;
    padding-right: 45px;
}

#footer-credits-right-2 {
    text-align: center;
    padding-right: 45px;

}

a.footer-links {
    color: white;
    text-decoration: none;
}


/*--- Footer ---------------*/
